@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron bg-info border-info text-center">
    <h1 class="display-4 font-weight-bold ">Paginas Web Activas</h1><br />
    <h1 class="display-4">Laboratorio 1</h1>
</div>
